/* APP.CSS CONTENTS Where things are roughly
* Google Font Imports 14 - 20
* Variables 23 - 47
* Global reset 19 - 23
* global affected elements 58 - 64
* Nav 66 - 78 *** = ABBIE ****
* Footer *** = ABBIE ****
* Home 81 - 107 *** Home about section = ABBIE ****
* Create/Post Project 109 - 141 ***  = MERE ****
* Project Details 144 - 206 ***  = KRISTEN ****
* Login Page 208 - 227 ***  = MERE ****
* Sign Up Page 229 - 255 ***  = MERE ****
* Single Project Page 259 - 306
*/

/* Google Font Imports */
/* Playfair Display SC Font - Header */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/* Monserrat - Subheader */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Open Sans  - Body Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root {
    /* Colour Variables */
    /* Primary for Background and font colours with dark backgrounds */
    --primaryColor: #FFFAE3;
    /* Secondary for things like navbar and chunks space */
    --secondaryColor: #F7567C;
    --primaryButtonColor: #5D5768;
    --secondaryButtonColor: #99E1D9;
    /* Font Variables */
    /* Header Variables */
    --headerFontFamily: "Playfair Display SC", serif;
    --headerFontWeight: 400;
    --headerFontSize: 3em;
    /* SubHeader Variables */
    --subHeaderFontFamily: "Montserrat", sans-serif;
    --subHeaderFontWeight: 400;
    --subHeaderFontSize: 2.5em;
    /* Body Text Variables */
    --bodyFontFamily: "Open Sans", sans-serif;
    --bodyFontWeight: 400;
    --bodyFontSize: 1.5em;
    /* Icon Sizes */
    --mainIconFontSize: 3.5em;
    --secondaryIconFontSize: 2em;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global Reset ends */

/* global affected elements Start */
h1 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: var(--headerFontSize);
}
/* global affected elements End */

/* Nav CSS Start */
.container {
    /* Layout */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
/* ------- navbar portfolio top left link */
.container h1 {
    font-size: 2em;
}
/* Nav CSS End */

/* Home CSS Start */
/* ------ About section at the start of Home page */
/* About CSS Start */
.home-about {
/* Layout */
    padding: 30px;
}
.home-about-img {
    /* Layout */
    width: 100%;
    height: 400px;
    margin: 20px 0;
    /* Styling */
    background-color: palegoldenrod;
}
.home-about-description {
    /* Layout */
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.home-about-description p {
    width: 50%;
}
/* About CSS End */

/* Home CSS End */

/* Project Form CSS Start */
.create-project-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    /* Styling */
    background-color: pink;
}
.project-form {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-form-container {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.project-form-input-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Project Form CSS End */

/* Project details CSS Start */
/* ------- Grid parent */
.projects {
    /* Layout */
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
    
.project-card-container {
    /* Layout */
    padding: 10px;
    /* Styling */
    background-color: #5D5768;
    
}

.project-card-container .project-image{
    /* Layout */
    max-width: 100%;
    height: auto;
    display: block;
    /* Styling */
    background-color: #5D5768;
}

.project-info-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.project-bottom-info-container {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button, 
.delete-button {
    /* Layout */
    font-size: var(--secondaryIconFontSize);
    padding: 5px;
}

/* Project details CSS End */

/* Project Edit CSS Details Start */
.edit-modal {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
}
.edit-modal button {
    margin: 15px 0px;
}
/* Project Edit CSS Details End */

/* Login Page CSS Start */
.login {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* Styling */
    background-color: pink;
}

.login label {
    /* Layout */
    margin: 0 20px;
}
.login button{
    /* Layout */
    margin-left: 10px;
}
/* Login Page CSS End */

/* Signup Page CSS Start */
.sign-up-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    /* Styling */
    background-color: pink;
}

.sign-up-form {
    /* Layout */
    display: flex;
}

.sign-up-form label {
    /* Layout */
    margin: 0 20px;
}
.sign-up-form button{
    /* Layout */
    margin-left: 10px;
}
/* Signup Page CSS End */

/* Single Project Page CSS Start */
#single-project-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

#single-top-container {
    /* Layout */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-arrow {
    /* Layout */
    margin-right: 20px;
    /* Styling */
    font-size: var(--mainIconFontSize);
}

.single-content-container {
    /* Layout */
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 100%;
    height: 400px;
    background-color: pink;
    
}
.single-text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.description-container {
    display: flex;
    width: 100%;
    gap: 50px;
}

/* Single Project Page CSS End */