/* APP.CSS CONTENTS Where things are roughly
* Global reset 5 - 10
* 
*/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Project Form CSS Start */
.create-project-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    /* Styling */
    background-color: pink;

    .project-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .project-form-container {
            display: flex;
            flex-direction: row;
            gap: 50px;

            .project-form-input-container {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
}