/* APP.CSS CONTENTS Where things are roughly
* Global reset 5 - 10
* 
*/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Project Form CSS Start */
.create-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: pink;

    .project-form {
        display: flex;
        flex-direction: column;

        .project-form-container {
            display: flex;
            flex-direction: row;
        }
    }
}